$accentColor = #ea9518
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
.navbar .site-name {
    font-size: 1rem;
    text-align:center;
    color: #ea9518;
}
.home{
    padding:0;
}
.home .hero h1{
    font-size:2rem;
    color:#ea9518;
}
.home .hero .description{
    max-width: 35rem;
    font-size: 1rem;
    line-height: 1.3;
    color: #000;
}
.home .hero .action-button{
    display: inline-block;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(#f4ea29, #efb336);
    padding: 0.2rem 1rem;
    border-radius: 4px;
    -webkit-transition: background-color 0.1s ease;
    transition: background-color 0.1s ease;
    box-sizing: border-box;
    border-bottom: 1px solid #efb336;
}
.sidebar-heading>span:firstChild ::before{
    height: 1rem;
    min-width: 1rem;
    vertical-align: middle;
    display: inline-block;
    content: '';
    background: url('/img/sidebar.png') no-repeat;
    background-size: 100%;
}
a .sidebar-link .active ::before{
    height: 1rem;
    min-width: 1rem;
    vertical-align: middle;
    display: inline-block;
    content: '';
    background: url('/img/sidebar.png') no-repeat;
    background-size: 100%;
}
